/* $Id$ */
.edit-table {
	background: none repeat scroll 0 0 #DDDDDD;
    border: 1px dashed;
    min-height: 30px;
}
.td-edit-item, .td-save-item {
	width:10px;
	height:10px;
	background: red;	
}
#control-edit {
    margin: 5px;
    width: 205px;
}
.content-edit-save {
	background: url("images/status-active.gif") no-repeat scroll 0 0 transparent;
    pad ding-right: 13px;
    margin-right: 5px;
    width:13px;
    height:13px;
    display: inline-block;
}
.save-button {
	margin-right: 5px;	
	background: url("images/save.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    height: 15px;
    margin-right: 5px;
    width: 48px;
    padding: 0;
    cursor:pointer;
}
.cancel-button {
	background: url("images/cancel.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    height: 15px;
    margin-right: 5px;
    width: 58px;
    padding: 0;
	cursor:pointer;
}
.edit-custom-view textarea {
	margin: 5px 5px 0;
}
.edit-custom-view .content {
	margin: 5px 5px 0;
}
.edit-table .description {
	color: #898989;
    font-size: 0.85em;
    margin: 5px 5px 0;
    width: auto;
}
.edit-custom-view {
	bo rder: 1px dashed red;
	min-height: 30px;
    min-width: 75px;
}

.resizer {
	display: block;
	margin: 0px;
	padding: 0px;
}
.resizer a {
	background: url("images/resize.gif") no-repeat 0 0;  
	width: 12px;
	height: 12px;
	margin: 0px;
	padding: 0px;	
    float: right;
	cursor: se-resize;	
}